     * {
        margin: 0;
        padding: 0;
    }

    /* Isto é necessário para não haver rolagens horizontais quando movermos os elementos */
    html, body {overflow-x: hidden;}

    body {
        font: 100% arial, verdana, tahoma, sans-serif;
        color: #FFF;
        background: linear-gradient(179deg, rgba(0,128,0,1) 11%, rgba(5,148,1,1) 30%, rgba(12,173,3,1) 52%, rgba(12,173,3,1) 94%);    
    }

    header {
        padding: 30px;
        overflow: hidden;
    }
    header h1 {
        text-align: center;
    }
    header input {
        float: right;
        padding: 10px;
        width: 200px;
        border: none;
    }

    .main {
        padding: 30px;
    }
    .main p {
        font-size: .9em;
        line-height: 1.2em;
        margin-bottom: 20px;
    }
    .menu-anchor {
        width: 40px;
        height: 32px;
        float: left;
        position: relative;
        text-indent: -9999px;
        overflow: hidden;
        cursor: pointer;
        background: #81C784;
    }
    .menu-anchor:before {
        content: "";
        display: block;
        margin: 7px auto;
        width: 70%;
        height: 0.25em;
        background: #FFFFFF;
        box-shadow: 
        0 .45em 0 0 #FFFFFF,
        0 .9em 0 0 #FFFFFF;
    }

    menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 53px;
        height: 100%;
        padding-top: 10px;
        background: #81C784;
        box-shadow: inset -5px -10px 10px 0 rgba(0,0,0,.3)
    }

    menu ul {
        list-style-type: none;
        padding-left: 12px;
    }

    menu li a {
        display: block;
        border-bottom: 1px solid rgba(255,255,255,.3);
        margin: 0 10px;
        padding: 10px;
        color: #FFFFFF;
        text-decoration: none;
    }

    menu li a:hover {
        background: #43A047;
        color: #FFFFFF;
    }


    /*
        Aqui você esconde o menu para fora da tela 
        O valor é exatamente a largura da sidebar
    */
    menu {
        -webkit-transform: translateX(-53px);
        -moz-transform: translateX(-53px);
        -ms-transform: translateX(-53px);
        transform: translateX(-53px);
    }

    /*
        Essa é a posição original do HEADER e do MAIN
    */
    header, .main {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    /*
       Com a classe menu-active na tag HTML
    */
    .menu-active menu {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .menu-active header, 
    .menu-active .main {
        -webkit-transform: translateX(53px);
        -moz-transform: translateX(53px);
        -ms-transform: translateX(53px);
        transform: translateX(53px);
    }

    menu ul li div {
            background: url('icons.svg') no-repeat;
            height: 38px;
            width: 38px;
            -webkit-transform-origin: top left; -o-transform-origin: top left; -ms-transform-origin: top left; transform-origin: top left;
            margin-bottom: 5px;
    }
    
    .icon-home {
        background-position: -2px 0px;
    }
    .icon-add {
        background-position: -40px 0px;
    }
    .icon-list {
        background-position: -80px 0px;
    } 